/*
    ==============================
    Global styles
    ==============================
*/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

/*
    ==============================
    Common used
    ==============================
*/

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

.inline-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.inline-list > li {
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section-title {
  text-transform: uppercase;
  color: #0eb493;
  font-size: 28px;
  font-weight: 800;
}

.section-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  padding-top: 36px;
  color: rgba(6, 32, 51, 0.8);
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.slider__item {
  background-image: url("../img/slider_empty.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 8px;
  width: 8px;
  margin: 0 7px;
}

.slider__item--active {
  background-image: url("../img/slider_active.png");
}

.color-black {
  color: #000;
}

/*
   ==============================
    Main styles
    ==============================
*/

.hero {
  height: 800px;
  background: #000 url(../img/header.png) no-repeat center/cover;
}

.header {
  height: 70px;
  background: #050c1c47;
  color: #fff;
}

.header,
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__logo {
  display: flex;
}

.header__logo .logo {
  padding-right: 25px;
}

.slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #4a5455;
  align-self: center; /
}

.menu__item {
  margin-right: 20px;
  border-top: 1px solid transparent;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  border-top: 1px solid #32b0ee;
}

.menu__item a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: 69px;
}

.hero__container {
  margin-top: 360px;
}

.hero__title {
  font-size: 62px;
}

.hero__title span {
  font-weight: bold;
}

.hero__subtitle {
  color: inherit;
  text-align: inherit;
  font-size: 48px;
  margin-bottom: 23px;
}

.hero__subtitle span {
  color: rgba(15, 235, 158, 0.9);
}

.hero__slogan {
  font-size: 18px;
}

.hero__title,
.hero__subtitle,
.hero__slogan {
  color: #fff;
  text-align: center;
}

.hero__slogan {
  text-align: center;
}

.hero__slogan:before,
.hero__slogan:after {
  background-color: #0feb9e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin: 0 23px;
  width: 28px;
}

.hero__slogan:before {
  right: 0.5em;
  margin-left: -50%;
}

.hero__slogan:after {
  left: 0.5em;
  margin-right: -50%;
}

.hero__social-icons {
  margin-top: 100px;
  text-align: center;
}

.hero__social-icons img {
  opacity: 0.3;
}

.hero__social-icons img:hover {
  opacity: 1;
}

.icons-list {
  margin: 0 auto;
}

.icons-list li {
  display: inline-block;
  width: 20px;
  margin: 0 6px;
}

.features {
  padding-top: 77px;
  padding-bottom: 29px;
  text-align: center;
  background-color: #f4f7f9;
}

.heart-img img {
  margin-top: 25px;
}

.heart-img:before,
.heart-img:after {
  background-color: #d2d2d2;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin: 0 6px;
  width: 90px;
}

.heart-img:before {
  right: 0.5em;
  margin-left: -50%;
}

.heart-img:after {
  left: 0.5em;
  margin-right: -50%;
}

.features__list {
  margin-top: 67px;
  margin-bottom: 80px;
  display: flex;
}

.features__list li {
  width: 300px;
  flex: 1;
  text-align: left;
  background: url(../img/icon-pencil.png) no-repeat 0 0 #0000;
  padding: 0 0 1px 58px;
  vertical-align: middle;
}

.features__list li:first-child {
  background: url(../img/icon-air.png) no-repeat 0 0 #0000;
}

.features__list li:last-child {
  background: url(../img/icon-voice.png) no-repeat 0 0 #0000;
}

.features__list-item h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -.4px;
  color: #062033;
}

.features__list-item p {
  font-size: 13px;
  color: rgba(6, 32, 51, .7);
  line-height: 1.62;
  padding-top: 22px;
}

.features__slider-container {
  margin-bottom: 20px;
}

.works {
  padding-top: 77px;
  text-align: center;
}

.works__menu {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.works__menu-item {
  margin: 0 20px;
}

.works__menu-item a {
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}

.works__menu-item a:hover {
  text-decoration: none;
  background: #0eb493;
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
}

.inner {
  width: 1600px;
  margin: 0 auto;
}

.work__images-gallery {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
}

.image {
  width: 400px;
  height: 300px;
  position: relative;
}

.image-hover {
  position: absolute;
  top: 0;
  width: 400px;
  height: 300px;
  background: rgba(14, 180, 147, 0.81);
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image-hover:hover {
  opacity: 1;
}

.image-hover h3,
.image-hover p {
  color: #fff;
}

.image-hover h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.image-hover p {
  margin-top: 10px;
  font-size: 14px;
}

.team {
  margin-top: 100px;
  text-align: center;
}

.team-members {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.team-member {
  width: 270px;
  margin: 0 10px;
  position: relative;
}

.team-member:hover > .team-member-info__hidden {
  opacity: 1;
}

.team-member:hover > .team-member__name {
  color: #0eb493;
}

.team-member-info__hidden {
  width: 270px;
  height: 300px;
  background: rgba(14, 180, 147, 0.81);
  text-align: center;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.team-member-headline {
  font-weight: bold;
  font-size: 16px;
  margin: 23px;
}

.team-member-desc {
  font-size: 16px;
  height: 150px;
  margin: 0 23px 8px 23px;
}

.team-member__social {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.team-member__social div {
  width: 40px;
  height: 40px;
  background: #00000073;
  margin: 0 5px;
}

.social-link {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.team-member__name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.team-member__role {
  margin-top: 10px;
}

.slider_container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.funfacts {
  text-align: center;
  background:
    linear-gradient(#082a46db, #082a46db),
    url(../img/funfacts-bg.png) no-repeat center/cover;
  height: 600px;
  padding-top: 100px;
}

.facts-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.facts-icons {
  width: 130px;
  height: 130px;
  border: 1px solid rgba(255, 255, 255, 0.51);
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-item {
  margin: 0 80px;
  color: #fff;
  text-align: center;
}

.fact-item__headline {
  margin-top: 50px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 600;
}

.fact-item__desc {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 18px;
}

.discuss {
  margin-top: 100px;
  text-align: center;
}

.discuss_container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.address {
  text-align: left;
  width: 280px;
}

.address__headline {
  font-weight: bold;
  font-size: 22px;
  color: #062033;
}

.address__data {
  margin-top: 40px;
  color: #6a737b;
}

.contact-form {
  width: 775px;
  margin: 0 30px 0 30px;
}

.contact-form legend {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 0 0 50px 0;
}

.input__name,
.input__email,
.input__message {
  border: 0;
  outline: 0;
  margin-bottom: 35px;
  padding: 10px 0 10px 0;
  background: transparent;
  border-bottom: 1px solid #d2d2d2;
}

.input__name,
.input__email {
  width: 370px;
}

.input__email {
  margin-left: 30px;
}

.input__message {
  width: 774px;
}

.discuss__social-links {
  width: 26px;
}

.discuss__social-links-item {
  margin-bottom: 20px;
  width: 26px;
  height: 26px;
}

.btn-submit {
  background: #fff;
  border: none;
  position: relative;
}

.btn-submit::before {
  content: url(../img/discuss-send-msg.png);
  position: absolute;
  top: 0;
  left: -25px;
}

.btn-submit-container {
  display: flex;
  justify-content: flex-end;
}

.discuss__map {
  margin-top: 100px;
  background: #fff url("../img/map.png") no-repeat center/cover;
  width: 100%;
  height: 215px;
  border-bottom: 5px solid black;
}

.footer {
  background: #21b697;
  font-size: 13px;
  line-height: 2;
  color: #fff;
  padding-bottom: 20px;
}

.footer-container {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.footer__logo-container {
  width: 255px;
  margin-right: 30px;
}

.footer__subscribe-container {
  width: 271px;
  margin-right: 30px;
}

.subscribe {
  position: relative;
  margin-bottom: 24px;
}

.subscribe__field {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 2px;
  height: 40px;
  text-indent: 10px;
  width: 100%;
}

.subscribe__btn {
  background-color: #0000;
  border: 0 none;
  font-size: 24px;
  color: white;
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
}

.explore-list {
  columns: 2;
}

.footer__logo-container-descr {
  margin-top: 50px;

}

.sub-section-headline {
  font-size: 14px;
  font-weight: bold;
  margin: 22px 0 54px 0;
}

.footer__copyright-container {
  width: 255px;
}

.footer__copyright {
  margin: 110px 0 40px;
  border-left: 1px solid #167E73;
  line-height: 1.8;
  padding-left: 10px;
}